#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
header, main, footer {
	padding: 0.5rem 1rem;
}
/* header { padding-bottom: 0.5rem; } */
footer { padding: 1rem 0.5rem; }
header, footer {
	background-color: var(--color-primary);
}
main {
	flex-grow: 1;
	background-color: var(--color-primary-light);
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 14pt; }


.box {
	padding: 0.5em;
	border-radius: 4px;
	border: 1px solid var(--color-border);
	box-shadow: var(--shadow-elevation);

	/* transition: var(--transition-fast); */
}

.list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	/* gap: 0.5em; */
	background-color: var(--color-list);

	& > * {
		padding: 0.1em 0.2em;
		border: 0px solid var(--color-list);
		border-width: 0 0.4em;
		/* border-top: 1px solid var(--color-list);
		border-bottom: 1px solid var(--color-list); */

		transition: var(--transition-fast);
	}

	& > :nth-child(even) {
		background-color: var(--color-list-alternate);
		border-color: var(--color-list-alternate);
	}

	& > :hover {
		border-color: var(--color-primary);
		/* border-width: 4px; */
	}

}